---
import FormattedDate from "../../components/FormattedDate.astro";
import Blueprint from "../../layouts/Blueprint.astro";
import { getCollection } from "astro:content";
import type { Link } from "../../scripts/navigation";

// Allow collection to be missing
let allPosts = getCollection("blog")
  .then((p) => {
    p.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).map(
      ({ data, id, slug }) => ({ data, id, slug })
    );
    return p;
  })
  .catch(() => {
    return [];
  });

let posts = await allPosts;

const links: Link[] = [
  {
    src: "#top",
    display: "Top",
  },
  {
    src: "#bottom",
    display: "Bottom",
  },
];
const tagColors = ["yellow", "red", "blue", "green", "purple", "orange"];
---

<Blueprint links={links}>
  <section>
    <ul>
      {
        posts.length > 0 ? (
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <strong>{post.data.title}</strong>
                <div>
                  <FormattedDate date={post.data.pubDate} />
                  <span id="tags">
                    {(post.data.tags || []).map((tag, index) => (
                      <span class={tagColors[index % tagColors.length]}>
                        {tag}
                      </span>
                    ))}
                  </span>
                </div>
              </a>
            </li>
          ))
        ) : (
          <li id="no-posts-yet">
            <p>No posts yet. Come back soon!</p>
          </li>
        )
      }
    </ul>
  </section>
  <style lang="scss">
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding-left: 0;

      li {
        list-style: none;
        border: 1px dashed rgb(var(--text));
        border-left: 3px solid rgb(var(--text));
        padding: 0.75rem;
        padding-left: 1rem;

        & a {
          text-decoration: none;
          & > div {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
          }
        }
      }
    }

    @media only screen and (min-width: 700px) {
        ul li a > div {
            flex-direction: row;
        }
    }
    #no-posts-yet {
      text-align: center;
      p {
        text-decoration: none;
      }
    }
  </style>
</Blueprint>
